@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap');

.text {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    font-weight: normal;
    line-height: 1.4em;
    letter-spacing: 0.05em;
    text-align: justify;
    color: green;
    padding: 10px;
}
.socials {
    display: flex;
}
.fab {
    font-size: 75px;
    color: grey;
    margin: 15px;
}
.fa-facebook:hover {
    color: #385898;
}
.fa-youtube:hover {
    color: #c00;
}
.fa-instagram:hover {
    color: #fb3958;
}
.fa-pinterest:hover {
    color: #e60023;
}
