@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.container {
    width: 600px;
    height: 200px;
    background-image: radial-gradient(rgb(75, 99, 117), rgb(59, 79, 94));
    display: flex;
    align-items: center;
    justify-content: space-around;
}
p {
    text-align: center;
    font-size: 6em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Bebas Neue', cursive;
    line-height: 0.8em;
    color:  rgb(75, 99, 117)
}
p:first-child {
    text-shadow: 3px 3px 3px rgb(46, 46, 46);
}
p:last-child {
    text-shadow: 5px 5px 10px rgb(0, 0, 0);
}