@function setColor($clr){
    @return $clr;
}

div {
    background-color:setColor(grey) ;
    color: green;
}

.box {
    background-color: yellow;
    // my description
}

@for $i from 1 through 12 {
    .col-lg-#{$i} { width: $i;}
}