$font-m: 'Montserrat', sans-serif;
$font-n: 'Nunito Sans', sans-serif;
$tiffany: #10c9c3; //tiffany color in the page
$pearl-dark-gray: #838383;
$gainsborough: #dddddd;
$signal-black: #252525;


@mixin heading1 { //styles for H1
    font-family: $font-m;
    font-size: 38px;
    color: #1d1d1d;
    font-weight: bold;
}
@mixin heading2 { //styles for H2
    font-family: $font-m;
    font-size: 30px;
    color: #191919;
    font-weight: bold;
}
@mixin heading3 { //styles for H3 and nav-menu text
    font-family: $font-m;
    font-size: 12px;
    color: #191919;
    text-transform: uppercase;
    font-weight: bold;
}
@mixin heading4 { //styles for H4
    font-family: $font-m;
    font-size: 18px;
    color: #ffffff;
    font-weight: bold;
}
@mixin paragraph1 { //styles for p 18px
    font-family: $font-n;
    font-size: 18px;
    color: #787878;
}
@mixin paragraph2 { //styles for p 16px
    font-family: $font-n;
    font-size: 16px;
    color: #787878;
    text-align: center;
}
@mixin paragraph3 {
    font-family: $font-m;
    font-size: 24px;
    color: #ffffff;
    text-align: center;
}
@mixin paragraph4 {
    font-family: $font-n;
    font-size: 15px;
    color: #bcbcbc;
}
@mixin btn {
    width: 180px;
    height: 54px;
    text-align: center;
    border: none;
    border-radius: 0;
    background-color: $tiffany;
    color: #ffffff;
    font-family: $font-m;
    font-size: 12px;
    text-transform: uppercase;
}
@mixin position-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.paragraph1 {
    @include paragraph1;
}
.header {
    height: 100vh;
    background-color: #e9e9e9;
    .header-nav {
        min-height: 100px;
        .disabled {
            color: #838383;
        }
    }
    .nav-link {
    @include heading3;
    font-family: $font-m;    
        &:hover {
            color: $tiffany;
        }
    }
    .header-title-row {
        height: calc(100vh - 72px);
        .paragraph1 {
            margin: 40px 0;
        }
        .btn {
            @include heading3;
            @include btn;
            font-weight: normal;
        }
    }
    .home-header-title-row {
        .heading1 {
            margin-bottom: 30px;
        }
        height: 315px;
        text-align: center;
    }
    .about-header-title-row {
        height: 350px;
        text-align: center;
        background-color: #3e3e3e;
        .heading1, .paragraph1 {
            color: #ffffff;
        }
        .heading1 {
            margin-bottom: 40px;
        }
        
    }
}
.home-header {
    height: auto;
}
.about {
    padding: 100px 0;
    .paragraph2 {
        @include paragraph2;
        margin: 20px 0;
    }
    .signature {
        width: 223px;
        margin-top: 20px;
    }
    .heading2 {
        margin-bottom: 20px;
    }
}
.about-header {
    height: auto;
}
.contact-title-row {
    padding: 100px 0;
    .paragraph2 {
        &:nth-child(2) {
            margin: 40px 0;
        }
    }
    .bold {
        color: #171717;
        font-weight: 700;
        margin-right: 10px;
    }
    .form-control {
        padding: 25px;
        font-size: 15px;
        border: none;
        border-radius: 0;
        color: #191919;
        &:valid, &:invalid {
            background-image: none;
        }
    }
    .name, .email, .title {
        height: 50px;
    }
    .textarea {
        height: 170px;
        padding: 20px 25px;
        resize: none;
    }
    .btn {
        @include btn;
        margin: 16px 0;
    }
}
.map {
    padding-bottom: 100px;
    .wrap{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    .right{
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: flex-start;
        position: relative;
    }
    .img{
        width: 100%;
        height: 0;
        padding-bottom: 40.2%;
        background-color: #e0e0e0;
    }    
    .pointner {
        @include position-center;
    }
    
}
.heading1 {
    @include heading1;
}
.heading2 {
    @include heading2;
}
.heading3 {
    @include heading3;
}
.paragraph2 {
    @include paragraph2;
}
.skills {
    .first-skl {
        height: 570px;
        background-color: #f8f9f9;
    }
    .heading3 {
        color: #000;
        margin-top: 42px;
    }
    .progress {
        border-radius: 0;
        height: 3px;
        max-width: 500px;
        .progress-bar {
            background-color: $tiffany;
        }
    }
}
.numbers {
    height: 240px;
    background-color: $tiffany;
    color: #ffffff;
    .pe-7s{
        font-size: 40px;
        font-weight: normal;
        margin-right: 30px;
    }
    .heading3 {
        color: #ffffff;
        margin-bottom: 0;
        font-weight: normal;
        &:first-child {
            font-size: 18px;
        }
    }
}
.work {
    .row {
        margin: 0;
    }
    .work-box {
        height: 300px;
    }
    .pearl-dark-gray {
        background-color: $pearl-dark-gray;
    }
    .gainsborough {
        background-color: $gainsborough;
    }
    .signal-black {
        background-color: $signal-black;
        .pe-7s {
            font-size: 40px;
            font-weight: normal;
            color: #fff;
        }
    }
    .tiffany {
        background-color: $tiffany;
    }
    .more-work {
        height: 100px;
        background-color: #f5f5f5;
        .heading3 {
            color: #8e8e8e;
            margin: 0;
        }
        .heading3:hover {
            color: $tiffany;
        }
        .work-link {
            text-decoration: none;
        }
    }
}
.work-process {
    margin: 100px 0;
    text-align: center;
    .heading2 {
        margin-bottom: 40px;
    }
    .paragraph2 {
        margin-bottom: 60px;
    }
    .container:last-child {
        .video {
            background-color: #f5f5f5;
            width: 100%; 
        }
        position: relative;
        .btn {
            @include position-center;
            width: 85px;
            height: 85px;
            border-radius: 50%;
            background-color: $tiffany;
            .play {
                display: block;
                border: 8.5px solid transparent; 
                border-left: 8.5px solid #ffffff;
                @include position-center;
                left: 45px;
            }
        }
    }
}
.services {
    background-color: #f5f5f5;
    padding: 70px 0;
    .serv {
        margin: 30px 0;
        .pe-7s {
            color: #656565;
            font-size: 40px;
        }
        .heading3 {
            margin: 25px 0;
        }
    }
}
.testimonials {
    position: relative;
    background-color: $tiffany;
    padding: 180px 0;
    .paragraph3 {
        @include paragraph3;
    }
    .heading3 {
        color: #ffffff;
        margin-top: 38px;
        font-weight: normal;
    }
    .s-dot {
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: #b0e8e6;
    }
    .a-dot {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #fff;
        margin: 0 8px;
    }
    .pagination {
        position: absolute;
        bottom: -110px;
    }
}
.clients {
    .clients-logo {
        margin: 64px 20px;
        .img {
            opacity: 0.5;
        }
    }
}
.need-project {
    text-align: center;
    background-color: #f5f5f5;
    padding: 100px 0;
    .form-control {
        padding: 25px;
        font-size: 15px;
        border: none;
        border-radius: 0;
        color: #191919;
        &:valid, &:invalid {
            background-image: none;
        }
    }
    .name, .email, .title {
        height: 50px;
    }
    .textarea {
        height: 170px;
        padding: 20px 25px;
        resize: none;
    }
    .btn {
        @include btn;
        margin: 16px 0;
    }
}
.heading4 {
    @include heading4;
}
.paragraph4 {
    @include paragraph4;
}
.footer {
    padding: 100px 0;
    background-color: #141414;
    .heading4 {
        margin-bottom: 30px;
    }
    .paragraph4 {
        margin: 0;
    }
    .nav-link {
        @include paragraph4;
        padding: 0;
        &:hover {
            color: $tiffany;
        }
    }
}