header {
    background-color: rgb(153, 194, 153);
    min-width: 100%;
    height: 10vh;
}
nav {
    background-color: rgb(74, 173, 74);
    min-width: 100%;
    height: 7vh;
}
#sidebar, #content, aside {
    float: left;
    height: 76vh;
}
#sidebar {
    min-width: 25%;
    background-color: rgb(57, 122, 207);
}
#content {
    width: 50%;
    background-color: rgb(122, 174, 243);
}
aside {
    min-width: 25%;
    background-color: rgb(57, 122, 207);
}
footer {
    clear: left;
    background-color: rgb(153, 194, 153);
    min-width: 100%;
    height: 7vh;
}