.text {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
}
.text::before, .text::after {
    content: "«";
    font-size: 1.5em;
    font-family: 'Lato', sans-serif;
    color: red;
}
.text::after {
    content: "»";
}
